body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container span{
    font-family: 'Capriola', sans-serif;
}

nav{
    background-color: #40596b;
}

nav .container{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    justify-content: center;
}
nav .container li{
    padding: 16px;
}
nav .container li a{
    color: #ffd05b;
    font-size: 1.2em;
    text-decoration: none;
}
nav .container li a:hover{
    color: #fff;
    transition: color 0.5s;
}

.title-area{
    background-color: #55c0ec;
    text-align: center;
}
.title-area h1{
    color: #40596b;
    font-size: 3.9em;
}
.title-area p{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.title-area a{
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    color: #ffd05b;
    font-size: 1.5em;
    border-radius: 5px;
}
.title-area a:hover{
    padding: 17px 35px;
    transition: padding 0.5s;
}
.title-area a span{
    color: #40596b;
}
.title-area .container div{
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.title-area .container .image-circle{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background-color: #ffd05b;
    border-radius: 50%;
}

.description{
    background-color: #fafafa;
    color: #40596b;
}
.description .title{
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
}
.description .title h2{
    font-size: 2.2em;
}
.description .para{
    width: 50%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.description .full-para{
    width: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.how-it-works-section{
    background-color: #90ddaa;
    padding: 0 0 50px 0;
}
.how-it-works-section .container{
    justify-content: space-around;
}
.how-it-works-section .title{
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
}
.how-it-works-section .title h2{
    font-size: 2.2em;
}
.how-it-works-section .card{
    width: 30%;
    text-align: center;
}
.how-it-works-section .card .image{
    width: 100%;
    height: 300px;
    background-color: #40596b;
    border-radius: 5px 5px 0 0;
}
.how-it-works-section .card .para{
    padding: 10px;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 1px;   
    background-color: #fafafa;
}

.details{
    text-align: center;
    background-color: #fafafa;
}
.details span{
    font-family: 'Capriola', sans-serif;
}
.details .box{
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}
.details h2{
    font-size: 2.2em;
}
.details p{
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 1px; 
}
.details a{
    display: inline-block;
    background-color: #40596b;
    text-decoration: none;
    padding: 20px 40px;
    color: #fafafa;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 30px 0;
}

.footer{
    padding: 10px;
    background-color: #40596b;
    color: #fafafa;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 1px; 
}
.footer a{
    color: #fafafa;
}

